<div class="how-we-helped mt-5">
    <div class="how-we-helped-dark-layout">
        <div class="color-white">
            <div class="fonts-sans-semibold heading-50">
                How we have helped
            </div>
            <div class="mt-2 heading-30">
                See how Al Foundation have promoted change locally and to the world
            </div>
        </div>
        <div class="diamonds mt-3">
            <div class="how-we-helped-diamond">
                <div class="how-we-helped-diamond-inner">
                    <img src="../../../assets/imgs/pin.svg" alt="pin" height="50">
                    <div class="color-white heading-28 mt-3">
                        Find place
                    </div>
                    <i class="pi pi-plus color-white mt-4"></i>
                </div>
            </div>
            <div class="how-we-helped-diamond">
                <div class="how-we-helped-diamond-inner">
                    <img src="../../../assets/imgs/pin.svg" alt="A’awen" height="50">
                    <div class="color-white heading-28 mt-3">
                        A’awen
                    </div>
                    <i class="pi pi-plus color-white mt-4"></i>
                </div>
            </div>
            <div class="how-we-helped-diamond">
                <div class="how-we-helped-diamond-inner">
                    <img src="../../../assets/imgs/pin.svg" alt="Omniyat" height="50">
                    <div class="color-white heading-28 mt-3">
                        Omniyat
                    </div>
                    <i class="pi pi-plus color-white mt-4"></i>
                </div>
            </div>
            <div class="how-we-helped-diamond">
                <div class="how-we-helped-diamond-inner">
                    <img src="../../../assets/imgs/give-time.svg" alt="Give Time" height="50">
                    <div class="color-white heading-28 mt-3">
                        Give Time
                    </div>
                    <i class="pi pi-plus color-white mt-4"></i>
                </div>
            </div>
        </div>
        <div class="how-we-helped-diamond-second-row">
            <div class="how-we-helped-diamond">
                <div class="how-we-helped-diamond-inner">
                    <img src="../../../assets/imgs/pin.svg" alt="Tofoula" height="50">
                    <div class="color-white heading-28 mt-3">
                        Tofoula
                    </div>
                    <i class="pi pi-plus color-white mt-4"></i>
                </div>
            </div>
            <div class="how-we-helped-diamond">
                <div class="how-we-helped-diamond-inner">
                    <img src="../../../assets/imgs/pin.svg" alt="Fundraising" height="50">
                    <div class="color-white heading-28 mt-3">
                        Fundraising
                    </div>
                    <i class="pi pi-plus color-white mt-4"></i>
                </div>
            </div>
            <div class="how-we-helped-diamond">
                <div class="how-we-helped-diamond-inner">
                    <img src="../../../assets/imgs/zakat.svg" alt="Zakat" height="50">
                    <div class="color-white heading-28 mt-3">
                        Zakat
                    </div>
                    <i class="pi pi-plus color-white mt-4"></i>
                </div>
            </div>
        </div>
    </div>
</div>