/*headings variables*/
$heading-10: 10px;
$heading-12: 12px;
$heading-14: 14px;
$heading-16: 16px;
$heading-18: 18px;
$heading-20: 20px;
$heading-22: 22px;
$heading-24: 24px;
$heading-26: 26px;
$heading-28: 28px;
$heading-30: 30px;


/*heading classes*/
.heading{
    &-10{
        font-size: $heading-10;
    }
    &-12 {
        font-size: $heading-12;
    }
    &-14{
        font-size: $heading-14;
    }
    &-16{
        font-size: $heading-16;
    }
    &-18{
        font-size: $heading-18;
    }
    &-20{
        font-size: $heading-20;
    }
    &-22{
        font-size: $heading-22;
    }
    &-24{
        font-size: $heading-24;
    }
    &-26{
        font-size: $heading-26;
    }
    &-28{
        font-size: $heading-28;
    }
    &-30{
        font-size: $heading-30;
    }
}
