<div class="footer">
    <div class="footer-links">
        <div class="container d-flex justify-content-between">
            <div class="footer-first-section">
                <div class="color-dark-grey heading-14 mt-2">
                    News
                </div>
                <div class="color-dark-grey heading-14 mt-2">
                    Events
                </div>
                <div class="color-dark-grey heading-14 mt-2">
                    About
                </div>
                <div class="color-dark-grey heading-14 mt-2">
                    FAQs
                </div>
            </div>
            <div class="footer-second-section">
                <div class="color-dark-grey heading-14 mt-2">
                    Privacy Policy
                </div>
                <div class="color-dark-grey heading-14 mt-2">
                    Contact Us
                </div>
                <div class="color-dark-grey heading-14 mt-2">
                    Complains
                </div>
            </div>
            <div class="footer-third-section">
                <div class="color-dark-grey heading-14 mt-2">
                    Subscribe to Newsletter
                </div>
                <div class="color-dark-grey heading-14 mt-2 d-flex">
                    <div class="footer-links-input-container">
                        <input type="text" placeholder="Email Address">
                    </div>
                    <button class="footer-links-subscribe-button">
                        Subscribe
                    </button>
                </div>

            </div>
            <div class="footer-fourth-section">
                <div class="color-dark-grey heading-14 mt-2">
                    Follow us on
                </div>
                <div class="d-flex mt-2">
                    <img src="../../../assets/imgs/instagram.svg" alt="" class="me-2 cursor-pointer">
                    <img src="../../../assets/imgs/youtube.svg" alt="" class="me-2 cursor-pointer">
                    <img src="../../../assets/imgs/linkedin.svg" alt="" class="me-2 cursor-pointer">
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copy-rights">
        <div class="heading-16 color-white">
            All rights reserved - Link Development Company © 2020
        </div>
    </div>

</div>