<div class="hightlights-banner">
    <carousel cellsToShow="1" height="509" dots="true" loop="true" objectFit="cover" style="z-index: 1;">
        <div class="carousel-cell">
            <div class="hightlights-banner-dark-overlay">
                <div class="color-white">
                    <div class="fonts-sans-semibold heading-50">
                        Al Foundation
                    </div>
                    <div class="mt-2 heading-30">
                        is focused on inspiring the next generation of kids Healthcare professionals.
                    </div>
                    <button class="mt-3" (click)="onDonate()">
                        Donate Now
                    </button>
                </div>
            </div>
            <img src="../../../assets/imgs/carousel-1.png">
        </div>
        <div class="carousel-cell">
            <div class="hightlights-banner-dark-overlay">
                <div class="color-white">
                    <div class="fonts-sans-semibold heading-50">
                        Al Foundation
                    </div>
                    <div class="mt-2 heading-30">
                        is focused on inspiring the next generation of kids Healthcare professionals.
                    </div>
                    <button class="mt-3" (click)="onDonate()">
                        Donate Now
                    </button>
                </div>
            </div>
            <img src="../../../assets/imgs/carousel-2.png">
        </div>
        <div class="carousel-cell">
            <div class="hightlights-banner-dark-overlay">
                <div class="color-white">
                    <div class="fonts-sans-semibold heading-50">
                        Al Foundation
                    </div>
                    <div class="mt-2 heading-30">
                        is focused on inspiring the next generation of kids Healthcare professionals.
                    </div>
                    <button class="mt-3" (click)="onDonate()">
                        Donate Now
                    </button>
                </div>
            </div>
            <img src="../../../assets/imgs/carousel-1.png">
        </div>

    </carousel>
</div>